<form action="<%= action %>" method="post" class="itemForm">
    <div>
        <label for="name">Item Name: </label>
        <input type="text" id="name" name="name" value="<%= item.name %>" required>
    </div>
    <div>
    <label for="category">Category: </label>
        <select name="category" id="category" required>
            <% categories.map(category => { %>
                <% if (category.categoryid == item.category) { %>
                    <option value="<%= category.categoryid %>" selected><%= category.categoryname %></option>
                <% } else { %>
                    <option value="<%= category.categoryid %>"><%= category.categoryname %></option>
                <% } %>
            <% }); %>
        </select>
    </div>
    <div>
        <label for="price">Price: </label>
        <input type="number" id="price" name="price" value="<%= item.price %>" min="1" required>
    </div>
    <div>
        <label for="quantity">Quantity: </label>
        <input type="number" id="quantity" name="quantity" value="<%= item.quantity %>" min="1" required>
    </div>
    <% if (action === "/add") { %>
        <button type="submit">Add Item</button>
    <% } else { %>
        <button type="submit">Update</button>
    <%}%>
</form>