<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=^, initial-scale=1.0">
    <title>Items</title>
</head>
<body>
    <h1>Inventory Items</h1>
    <hr>
    <%- include('partials/nav.ejs') %>
    <hr>
    <a href="/add">Add Item</a>
    <ul>
        <% items.map(item => { %>
            <li>
                <div>
                    Name: <%= item.itemname %>, Price: <%= item.price %>, Stock: <%= item.quantity %>
                </div>
                <div>
                    <form action="/<%= item.itemid %>/update" method="get">
                        <input type="text" hidden value="<%= item.categoryid %>" name="category">
                        <input type="text" hidden value="<%= item.sellerid %>" name="seller" >
                        <input type="text" hidden value="<%= item.itemname %>" name="name">
                        <input type="text" hidden value="<%= item.price %>" name="price">
                        <input type="text" hidden value="<%= item.quantity %>" name="quantity">
                        <button type="submit">Update</button>
                    </form>
                    <form action="/<%= item.itemid %>/delete" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </li>
        <% }); %>
    </ul>
</body>
</html>