<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=^, initial-scale=1.0">
    <title>Items</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Inventory Items</h1>
    <hr>
    <%- include('partials/nav.ejs') %>
    <hr>
    <button class="addBtn"><a href="/add">Add Item</a></button>
    <div class="header">
        <div>Name</div>
        <div>Price</div>
        <div>Stock</div>
        <div>Category</div>
        <div class="placeholder"></div>
        <div class="placeholder"></div>
    </div>
    <ul>
        <% items.map(item => { %>
            <li class="listrow">
                <div>
                    <%= item.itemname %> 
                </div>
                <div>
                    $<%= item.price %>
                </div>
                <div>
                    <%= item.quantity %>
                </div>
                <div>
                    <%= item.categoryname %>
                </div>
                <div>
                    <form action="/<%= item.itemid %>/update" method="get">
                        <input type="text" hidden value="<%= item.categoryid %>" name="category">
                        <input type="text" hidden value="<%= item.sellerid %>" name="seller" >
                        <input type="text" hidden value="<%= item.itemname %>" name="name">
                        <input type="text" hidden value="<%= item.price %>" name="price">
                        <input type="text" hidden value="<%= item.quantity %>" name="quantity">
                        <button type="submit" class="update">Update</button>
                    </form>
                </div>
                <div>
                    <form action="/<%= item.itemid %>/delete" method="post">
                        <button type="submit" class="delete">Delete</button>
                    </form>
                </div>
            </li>
        <% }); %>
    </ul>
</body>
</html>