<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=^, initial-scale=1.0">
    <title>Items</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Inventory Items</h1>
    <hr>
    <%- include('partials/nav.ejs') %>
    <hr>
    <div class="itemsFilter">
        <button class="addBtn"><a href="/add">Add Item</a></button>
        <form action="/items" method="get">
            <input type="text" id="search" name="search" placeholder="search...">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="header">
        <div>Name <%- include('partials/orderBtn.ejs', {value: 'itemName', filter: filter}) %></div>
        <div>Price <%- include('partials/orderBtn.ejs', {value: 'price', filter: filter}) %></div>
        <div>Stock <%- include('partials/orderBtn.ejs', {value: 'quantity', filter: filter}) %></div>
        <div>Company <%- include('partials/orderBtn.ejs', {value: 'sellerName', filter: filter}) %></div>
        <div>Category <%- include('partials/orderBtn.ejs', {value: 'categoryName', filter: filter}) %></div>
        <div class="placeholder"></div>
        <div class="placeholder"></div>
    </div>
    <ul>
        <% items.map(item => { %>
            <li class="listrow">
                <div>
                    <%= item.itemname %>
                </div>
                <div>
                    $<%= item.price %>
                </div>
                <div>
                    <%= item.quantity %>
                </div>
                <div>
                    <%= item.sellername %>
                </div>
                <div>
                    <%= item.categoryname %>
                </div>
                <div>
                    <form action="/<%= item.itemid %>/update" method="get">
                        <input type="text" hidden value="<%= item.categoryid %>" name="category">
                        <input type="text" hidden value="<%= item.sellerid %>" name="seller" >
                        <input type="text" hidden value="<%= item.itemname %>" name="name">
                        <input type="text" hidden value="<%= item.price %>" name="price">
                        <input type="text" hidden value="<%= item.quantity %>" name="quantity">
                        <button type="submit" class="update">Update</button>
                    </form>
                </div>
                <div>
                    <form action="/<%= item.itemid %>/delete" method="post">
                        <button type="submit" class="delete">Delete</button>
                    </form>
                </div>
            </li>
        <% }); %>
    </ul>
</body>
</html>